<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBizMPFCjEhnMuXohTg0FofSoXjK1pHCRw</string>
	<key>GCM_SENDER_ID</key>
	<string>165872377893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.vastrayl</string>
	<key>PROJECT_ID</key>
	<string>rateoutfit-d84af</string>
	<key>STORAGE_BUCKET</key>
	<string>rateoutfit-d84af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165872377893:ios:54b3fc5155b5f8d9895fcc</string>
</dict>
</plist>